.main_section {
	background-image: url('img/banner.jfif');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 1;
}

.main_section:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: .5;
	z-index: -1;
}

.book_icon {
	display: flex;
	margin-top: 50px;
}

.book_icon .fas {
	color: red;
	font-size: 50px;
	margin-right: 10px;
}

.book_icon h2 {
	color: #fff;
}

.book_content {
	color: #fff;
	text-align: center;
	margin-top: 10%;
}

.book_content h2 {
	text-transform: uppercase;
	font-size: 50px;
	color: white;
}

.book_content p {
	font-size: 20px;
	line-height: 1.5em;
	color: cornsilk;
}

.book_btn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.book_btn a {
	display: inline-block;
	background-color: #fff;
	color: #000;
	padding: 15px 80px;
	border-radius: 5px;
	margin-right: 20px;
	text-decoration: none;
}

.btn_left a:hover {
	background-color: pink;
}

.btn_right a:hover {
	background-color: pink;
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	.book_icon {
		justify-content: center;
	}

	.book_content h2 {
		font-size: 40px;
	}

	.book_content p {
		font-size: 18px;
	}

	.book_btn a {
		padding: 15px 30px;
	}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px) {}